In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("C:/Users/User/User/Desktop/CSV.csv")
data['month']=pd.DatetimeIndex(data['date_added']).day
data

    order_payment_id  customer_id  type collection  amount  date_added  month
0                  1            1  rent    payable   15000  01-03-2018      3
1                  2            1  rent       paid   14000  05-04-2018      4
2                  3            2  rent    payable    8500  01-04-2018      4
3                  4            3  rent    payable   12000  01-04-2018      4
4                  5            4  rent    payable    8000  01-05-2018      5
5                  6            2  rent       paid    8500  06-04-2018      4
6                  7            5  rent    payable   10500  01-04-2018      4
7                  8            6  rent    payable   11000  01-04-2018      4
8                  9            3  rent       paid   12000  08-04-2018      4
9                 10            5  rent       paid   10500  10-04-2018      4
10                11            7  rent       paid   10000  10-09-2018      9
11                12            8  rent    payable   15000  12-10-2018     10
12                13            9  rent       paid   20000  09-08-2018      8

In [3]:
ans = pd.DataFrame()

In [4]:
Data = np.zeros((data['customer_id'].max(),12,2))
for i in set(data['customer_id']):
    month = np.zeros((12,2))
    df = data[data['customer_id'] == i]
    for j in (df.index.get_values()):
        if df.collection[j] == 'payable':
            month[df.month[j]-1][0] = df.amount[j]
        if df.collection[j] == 'paid':
            month[df.month[j]-1][1] = df.amount[j]
    Data[i-1] = month
print(Data)

[[[    0.     0.]
  [    0.     0.]
  [15000.     0.]
  [    0. 14000.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]]

 [[    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [ 8500.  8500.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]]

 [[    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [12000. 12000.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]]

 [[    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [ 8000.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]]

 [[    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [10500. 10500.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]]

 [[    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [11000.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]]

 [[    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0. 10000.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]]

 [[    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [15000.     0.]
  [    0.     0.]
  [    0.     0.]]

 [[    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0. 20000.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]
  [    0.     0.]]]

In [5]:
ans['customer_id'] = data['customer_id'].unique()
for i in range(11):
    payable1 = pd.Series((Data[:,i+1,0]).tolist())
    paid1 = pd.Series((Data[:,i+1,1]).tolist())
    ans['month '+ str(i+2)+ ' Payable'] = payable1.values
    ans['month '+str(i+2) +' Paid'] = paid1.values

In [6]:
NetPay = []
NetPaid = []
for i in range(data['customer_id'].unique().max()):
    NetPay.append(Data[i,:,0].sum())
    NetPaid.append(Data[i,:,1].sum())

NetTotal = np.array(NetPaid) - np.array(NetPay)
Net_Total = NetTotal.tolist()
ans['Net_Payable'] = pd.Series(NetPay).values
ans['Net_Paid'] = pd.Series(NetPaid).values
ans['Net_total'] = pd.Series(Net_Total).values
ans.to_csv('C:/Users/User/User/Desktop/Answer',sep='\t')